.gradle
build/**
bin/**
compat-ref/**
seed-test-module.sh
!gradle/wrapper/gradle-wrapper.jar

## JS Testing artifacts
node_modules/**
coverage/**
reports/**
test-results/**

### IntelliJ IDEA ###
.idea/

### Mac OS ###
.DS_Store

### BOXLANG ###
/docs/
/libs/
src/test/resources/libs/*
src/test/resources/modules/*
!src/test/resources/libs/.gitkeep
